.navbar {
  background-color: var(--white);
  box-shadow: 0 2px 4px var(--white);
  justify-content: space-between;
}

.navbar-links a {
  padding: 0 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
}

.navbar-links a:hover {
  color: var(--primary-focused);
}

.navbar-logo img {
  max-height: 2.5rem;
  cursor: pointer;
}

.navbar-menu {
  padding: 0.5rem;
}

.navbar-menu span {
  background-color: var(--primary-focused);
  color: #fff;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 12rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-menu span:hover {
  transform: scale(1.05);
  background-color: var(--accent-focused);
}

.navbar-menu i {
  padding-right: 1rem;
}

// .navbar-icons i {
//   font-size: 20px;
//   margin-right: 10px;
//   transition: color 0.3s ease-in-out;
// }

// .navbar-icons i:hover {
//   color: #f7b731; /* Yellow color on hover */
// }

// .login-btn,
// .signup-btn {
//   background-color: transparent;
//   border: 1px solid #fff;
//   color: #fff;
//   padding: 6px 12px; /* Smaller padding */
//   border-radius: 5px;
//   cursor: pointer;
//   margin-left: 10px; /* Space between buttons */
//   transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
// }

// .login-btn:hover,
// .signup-btn:hover {
//   background-color: #fff;
//   color: #1a73e8; /* Google's blue on hover */
// }

// .basket-count {
//   background-color: #f7b731; /* Yellow color */
//   color: #fff;
//   font-size: 12px;
//   padding: 2px 6px;
//   border-radius: 50%;
//   top: 5px;
//   right: 12px;
// }
