.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #1a73e8; /* Google's blue */
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  max-height: 40px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #f7b731; /* Yellow color */
}

.navbar-icons i {
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.navbar-icons i:hover {
  color: #f7b731; /* Yellow color on hover */
}

.login-btn,
.signup-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px; /* Smaller padding */
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Space between buttons */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #fff;
  color: #1a73e8; /* Google's blue on hover */
}

.basket-count {
  background-color: #f7b731; /* Yellow color */
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  top: 5px;
  right: 12px;
}
